<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864223236577-3ihr05rdhlnlb565fl3155hsgh61m11l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864223236577-3ihr05rdhlnlb565fl3155hsgh61m11l</string>
	<key>API_KEY</key>
	<string>AIzaSyD6tsyNLkEqG90DXijO9rVtn3Ev1OiClvM</string>
	<key>GCM_SENDER_ID</key>
	<string>864223236577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duckpond.growth</string>
	<key>PROJECT_ID</key>
	<string>growth-duckpond</string>
	<key>STORAGE_BUCKET</key>
	<string>growth-duckpond.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864223236577:ios:3bd6464ca97017d81302a0</string>
</dict>
</plist>